<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	<style>
		.footer{border-top:1px solid #E8E8E8; padding:15px 0;font-family:tahoma,Arial;font-size:12px;color:#999;line-height:22px;text-align:center}
		.footer a,.footer a:hover{color:#999}
	</style>
<!--[if lt IE 9]>
<script type="text/javascript" src="__O2O__/lib/html5shiv.js"></script>
<script type="text/javascript" src="__O2O__/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__O2O__/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__O2O__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>分类管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	分类管理
	<span class="c-gray en">&gt;</span>
	分类列表
	<span class="c-gray en">&gt;</span>
	{$name}
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">

	<div class="cl pd-5 bg-1 bk-gray mt-20" >
		<span class="l">

		<a href="/admin/city/add?id={$id}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a>
		</span>


	</div>
	<div class="mt-20">
		<table id="table" class="display table table-border table-bordered table-hover table-bg table-sort" cellspacing="0">
			<thead>
			<tr>
				<th>ID</th>
				<th>分类名称</th>
				<th>排序</th>
				<th>创建时间</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
			</thead>
			<!--<tfoot>-->
			<!--<tr>-->
				<!--<th>First name</th>-->
				<!--<th>Last name</th>-->
				<!--<th>Position</th>-->
				<!--<th>Office</th>-->
				<!--<th>Start date</th>-->
				<!--<th>Salary</th>-->
			<!--</tr>-->
			<!--</tfoot>-->
		</table>
	</div>
</div>
<footer class="footer mt-20">
	<div class="container-fluid">
		<nav> <a href="#" target="_blank">关于我们</a> <span class="pipe">|</span> <a href="#" target="_blank">联系我们</a> <span class="pipe">|</span> <a href="#" target="_blank">法律声明</a> </nav>
		<p>Copyright &copy;2018 Product By Poo  <br>
			<a href="http://www.fcczzu.cn/" target="_blank" rel="nofollow">京ICP备1000000号</a><br>
		</p>
	</div>
</footer>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__O2O__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__O2O__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__O2O__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__O2O__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__O2O__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__O2O__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="__O2O__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').DataTable( {
            "processing": true,//显示处理状态
           // "serverSide": false,//数据少建议关闭，过10000条再开，开启后服务器承担更多计算，否则是客户端承担
			'ajax': "/admin/city/data?id={$id}",


            "stateSave": true,
            "aaSorting": [[ 2, "desc" ]],//默认第几个排序
            "bStateSave": false,//状态保存
            "lengthMenu": [ [10, 2, 25,50, -1], [10, 2, 25,50, "所有"] ],


            "aoColumnDefs": [
				//{"bVisible": false, "aTargets": [ 0 ]}, //控制列的隐藏显示
                {"orderable":false,"aTargets":[5]}// 制定列不参与排序
            ]
        } );
    } );



    /*分类-下架*/
    function city_stop(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!',{icon: 5,time:1000});
        });
    }
/*分类-添加*/
function city_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*分类-编辑*/
function city_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*分类-查看子分类*/
function city_son(title,url){
        layer_show(title,url,$(window).width(),$(window).height());
}
/*分类-删除*/
function city_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
</script>
</body>
</html>