<!--包含头部文件-->
{include file="public/header" /}
<div class="cl pd-5 bg-1 bk-gray mt-20"> 添加分店信息</div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">

		<a href="/bis/location/index" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6d4;</i> 返回列表</a>
		</span>

</div>
<article class="page-container">
	<form class="form form-horizontal" id="form" method="post" action="">
	基本信息：
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分店名称：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="name">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属城市：</label>
			<div class="formControls col-xs-8 col-sm-2"> 
				<span class="select-box">
				<select name="city_id" class="select cityId" required>
                    <option value="">请选择</option>
					{volist name="citys" id="vo"}
					<option value="{$vo.id}"{if condition="$main.city_id eq $vo.id"}selected="selected" {/if}>{$vo.name}</option>
					{/volist}
				</select>
				</span>
			</div>
			<div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="se_city_id" id="se_city" class="select se_city_id" required>

					<option value="{$main.se_city_id}">{$se_city[$main.se_city_id]['name']}</option>
				</select>
				</span> 
			</div>
		</div>
	
		<div class="row cl">
              <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload"  type="file" multiple="true" >
                <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
                <input id="file_upload_image" name="logo" type="hidden" multiple="true" value="">
              </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">门店介绍：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<script id="editor"  type="text/plain" name="content" style="width:80%;height:300px;"></script> 
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属分类：</label>
			<div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="category_id" class="select categoryId" required>
					<option value="">--请选择--</option>
					{volist name="categorys" id="vo"}
					<option value="{$vo.id}"{if condition="$main.category_id eq $vo.id"} selected="selected" {/if}>{$vo.name}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属子类：</label>
			<div  class="formControls col-xs-8 col-sm-3 skin-minimal">
				<div id="se_category" class="check-box se_category_id">
					{volist name="se_category" id="vo"}
					{if condition="in_array($vo['id'],$main['se_category_id'])"}
					<input type="checkbox" value="{$vo.id}" checked="checked">{$vo.name}
					{/if}
					{/volist}
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">地址：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="address">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电话:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="tel">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">联系人:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="contact">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">营业时间:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="" placeholder="" id="" name="open_time">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="" class="btn btn-primary radius" id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 申请</button>
				<br/>

			</div>


		</div>
	</form>
</article>

<!--包含尾部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__O2O__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__O2O__/uploadify/jquery.uploadify.min.js"></script>

<script type="text/javascript" src="__O2O__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__O2O__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__O2O__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

<script>
$(function(){
	var ue = UE.getEditor('editor');

	$(function() {
        $("#file_upload").uploadify({
            height        : 30,
            swf           : '/static/o2o/uploadify/uploadify.swf',
            uploader      : '/bis/api/image',
            width         : 120,
            buttonText    :'图片上传',
            fileObjName   :'file',//这必须输，TP5按name识别的，这个就name
            fileTypeExts  :'*.gif;*.jpg;*.png',
            onUploadSuccess:function (file,data,response) {
                console.log(file);
                console.log('data:'+data);
                console.log('res:'+response);
                var data=JSON.parse(data)
                if(data.code == 1){

                    $('#file_upload_image').val('__STATIC__/images/'+data.comment);
                    $('#upload_org_code_img').attr("src",'__STATIC__/images/'+data.comment);
                    $('#upload_org_code_img').css("display","block");

                }else {
                    layer.msg( data.comment,{icon:2,time:2000});
                }

            }
        });
        $("#file_upload_other").uploadify({
            height        : 30,
            swf           : '/static/o2o/uploadify/uploadify.swf',
            uploader      : '/bis/api/image',
            width         : 120,
            buttonText    :'图片上传',
            fileObjName   :'file',//这必须输，TP5按name识别的，这个就name
            fileTypeExts  :'*.gif;*.jpg;*.png',
            onUploadSuccess:function (file,data,response) {
                console.log(file);
                console.log('data:'+data);
                console.log('res:'+response);
                var data=JSON.parse(data)
                if(data.code == 1){

                    $('#file_upload_image_other').val('__STATIC__/images/'+data.comment);
                    $('#upload_org_code_img_other').attr("src",'__STATIC__/images/'+data.comment);
                    $('#upload_org_code_img_other').css("display","block");

                }else {
                    layer.msg( data.comment,{icon:2,time:2000});
                }

            }
        });
    });
});
</script>
<script>

    //分类相关二级内容
    $(".categoryId").change(function () {
        $.post("/bis/api/category",
            {

                pid:$(this).val(),

            },
            function(result){

                //        $("#se_city").append("{vlist name='se_city' id='vo'}<option value='{$vo.id}'>{$vo.name}</option>{/volist}");
                if(result.code == 1){
                    var data=result.data;
                    //alert(data.length);
                    var secategory_html='';
                    for (var i=0;i<data.length;i++)
                    {
                        // document.write(data[i]['name'] + "<br>");

                        secategory_html += "<input class='skin-minimal input' name='se_category_id[]' value="+data[i]['id']+" type='checkbox'>"+data[i]['name']+"";

                    }
                    //alert(111);
                    $('#se_category').html(secategory_html);

                }else {

                    layer.msg('该分类下无子分类',{icon:2,time:2000});
                    $('#se_category').html('<p>无子分类</p>');
                }
            },'json');
    });

    //城市相关二级内容
    $(".cityId").change(function () {
        $.post("/bis/api/city",
            {
                //  pid:$("#city").val(),
                pid:$(this).val(),

            },
            function(result){

                //        $("#se_city").append("{vlist name='se_city' id='vo'}<option value='{$vo.id}'>{$vo.name}</option>{/volist}");
                if(result.code == 1){
                    var data=result.data;
                    //alert(data.length);
                    var secity_html='';
                    for (var i=0;i<data.length;i++)
                    {
                        // document.write(data[i]['name'] + "<br>");

                        secity_html += "<option name='se_city_id' value='"+data[i]['id']+"'>"+data[i]['name']+"</option>";

                    }
                    //alert(111);
                    $('#se_city').html(secity_html);

                }else {

                    layer.msg('后台数据出错',{icon:2,time:2000});
                }
            },'json');
    });
</script>
<script type="text/javascript">
    $(function(){
        $(".form").validate({
            rules:{

                name:{
                    required:true,

                },

                tel:{
                    required:true,
                    digits:true,
                  //  rangelength:[11,11],

                },

            },


            messages:{
                name:{
                    required:"输入啊大哥",
                    // remote:"已存在相同名称的分类，请修正此字段",
                },
                tel:{
              //      rangelength:'请输入11位电话号码',
				}
            },

            onkeyup:false,
            focusCleanup:true,
            focusInvalid:false,
            success:"valid",
            submitHandler:function(form){
                $('#submit').css('display','none')
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/bis/location/save",
                    success: function(resdata){
                        if(resdata.code == '1') {

                            layer.msg('添加数据成功,正在重置！',{icon:1,time:1000});

                            //     history.go(-1);

                            document.getElementById("form").reset();
                            $('#submit').css('display','block');
             //               $('#back').css('display','block');



                        }else {
                            $('#submit').css('display','block')
                            layer.msg(resdata.msg,{icon:2,time:1000});
                        }


                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        $('#submit').css('display','block')
                        layer.msg('ajax连接后台出错',{icon:2,time:3000});

                    }
                });


            }
        });

    });
</script>
</body>
</html>