<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__O2O__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__O2O__/static/h-ui.admin/css/style.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th width="80">排序</th>
            <th width="100">栏目名称</th>
            <th width="100">新增时间</th>
            <th width="100">发布状态</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td><input type="text" value="11" style="width: 30px"></td>
            <td class="text-l">一110级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td><input type="text" value="2" style="width: 30px"></td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        <tr class="text-c">
            <td><input type="checkbox" name="" value=""></td>
            <td>1</td>
            <td>1</td>
            <td class="text-l">一级栏目</td>
            <td>1</td>
            <td>1</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="system_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>


        </tbody>
    </table>



</body>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__O2O__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__O2O__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__O2O__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__O2O__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__O2O__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__O2O__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__O2O__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,4]}// 制定列不参与排序
        ]
    });
    /*系统-栏目-添加*/
    function system_category_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*系统-栏目-编辑*/
    function system_category_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*系统-栏目-删除*/
    function system_category_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>

</html>